<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>welcome to <%= title %></h1>
  
  
    <p>Welcome to <%= title %></p>
    <a href="/restaurants/new">List of restaurants</a>
  </body>
</html>
