<%- include('../partials/header') %>



<form action="/reservations/<%= reservation._id %>?_method=PUT" method="POST">
    
        <label> Name:
          <input type="text" name="name">
        </label><br>
       <label>Guests:
           <input type="text" name="guests">
        </label><br>
      <label>Time:
        <select name="hours">
          
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
        </select>
        <select name="minutes">
          <option value="00">00</option>
          <option value="30">30</option>
        </select>
        
          
        </label><br>
      <label>Date:
          <input type="date" name="date">
        </label><br>
    
    <button type="submit">UPDATE Reserve</button>
  </form>

  

  <%- include('../partials/footer') %>