<%- include('../partials/header') %>
    


<form action="/restaurants" method="POST">
  <label> Name:
    <input type="text" name="name">
  </label><br>
 <label>Max Tables:
     <input type="text" name="tables">
  </label><br>
<label>Opening Time:
    <input type="time" name="open">
  </label><br>
<label>Location:
    <input type="text" name="location">
  </label><br>
<label>Closing Time:
    <input type="time" name="close">
  </label><br>
  <div id="add">
    <input type="submit" value="ADD">
  </div>
  
</form>

<%- include('../partials/footer') %>



